<main class="profile">
    <aside class="profile-aside" page="profile">
        {{>
            ArrowIcon
                class="icons_left"
        }}
    </aside>

    <section class="profile-main">
        <form>
            {{{ Avatar }}}
            
            {{{
                Field
                    name="email"
                    label="Email"
                    type="email"
                    env="profile"
                    placeholder="pochta@yandex.ru"
            }}}
            {{{
                Field
                    name="login"
                    label="Login"
                    type="text"
                    env="profile"
                    placeholder="ivanivanov"
            }}}
            {{{
                Field
                    name="first_name"
                    label="First Name"
                    type="text"
                    env="profile"
                    placeholder="Ivan"
            }}}
            {{{
                Field
                    name="second_name"
                    label="Second Name"
                    type="text"
                    env="profile"
                    placeholder="Ivanov"
            }}}
            {{{
                Field
                    name="display_name"
                    label="Display Name"
                    type="text"
                    env="profile"
                    placeholder="Ivan"
            }}}
            {{!-- TODO Fix number representation --}}
            {{!-- TODO Remove input backgrounds when disabled --}}
            {{{
                Field
                    name="phone"
                    label="Phone Number"
                    type="text"
                    env="profile"
                    placeholder="+7(909)9673030"
            }}}
        </form>

        {{{
            Button
                primary="true"
                text="Save changes"
                type="submit"
        }}}
        </button>
    </section>
</main>
