<select 
  name={{ name }} 
  id={{ name }} 
  ref="select"
  multiple
>
  <option value="">Please choose a user</option>
  {{#if isOpenDialogUsers}}
    {{#each usersSearched}}
      <option value={{ this.id }}>{{ this.firstName }}</option>
    {{/each}}
  {{else}}
    {{#each users}}
      <option  ption value={{ this.id }}>{{ this.firstName }}</option>
    {{/each}}
  {{/if}}
</select>
