<main class="profile">
    <aside class="profile-aside" page="chats">
        {{> 
            ArrowIcon 
                class="icons_left"
        }}
    </aside>

    <section class="profile-main">
        {{{ Avatar }}}

        <h1 class="profile-main__name">Ivan</h1>
        
        {{{ 
            Field
                name="email"
                label="Email"
                type="email"
                env="profile"
                placeholder="pochta@yandex.ru"
                disabled="true"
        }}}
        {{{
            Field
                name="login"
                label="Login"
                type="text"
                env="profile"
                placeholder="ivanivanov"
                disabled="true"
        }}}
        {{{
            Field
                name="first_name"
                label="First Name"
                type="text"
                env="profile"
                placeholder="Ivan"
                disabled="true"
        }}}
        {{{
            Field
                name="second_name"
                label="Second Name"
                type="text"
                env="profile"
                placeholder="Ivanov"
                disabled="true"
        }}}
        {{{
            Field
                name="display_name"
                label="Display Name"
                type="text"
                env="profile"
                placeholder="Ivan"
                disabled="true"
        }}}
        {{!-- TODO Fix number representation --}}
        {{!-- TODO Remove input backgrounds when disabled --}}
        {{{
            Field
                name="phone"
                label="Phone Number"
                type="text"
                env="profile"
                placeholder="+7(909)9673030"
                disabled="true"
        }}}

        {{{ 
            Button
                text="Change profile"
                env="profile"
        }}}

        {{{
            Button
                text="Change password"
                env="profile"
        }}}

        {{{
            Button
                text="Logout"
                env="profile"
                danger="true"
        }}}
    </section>
</main>
