<li class="chats-card {{#if active}} chats-card_active {{/if}}"> 
    <div class="chats-card__image">
        {{#if avatar}}
            <img 
                src="{{ avatar }}" 
                alt="Chat card image"
                width="47px"
                height="47px"
            />
        {{else}}
            {{> AvatarIcon }}
        {{/if}}
    </div>

    {{#if lastMessage}}
        <div class="chats-card__info">
            <h2 class="chats-card__name">{{ lastMessage.user.firstName }}</h2>
            <h3 class="chats-card__message">{{ lastMessage.content }}</h3>
        </div>
        
        <div class="chats-card__additional">
            <time 
                class="chats-card__time" 
                datetime={{ lastMessageTime }}
            >
                {{ lastMessageTime }}
            </time>
            {{#if unread}}
                <div class="chats-card__unread">
                    <span>{{ unread }}</span>
                </div>
            {{/if}}
        </div>
    {{else}}
        <div class="chats-card__title">
            <h2>{{ title }}</h2>
        </div>
    {{/if}}
</li>
