<li class="chats-card {{#if active}} chats-card_active {{/if}}"> 
    {{#if avatar}}
        <div class="chats-card__image">
            <img 
                src="{{ avatar }}" 
                alt="Chat card image"
                width="47px"
                height="47px"
            />
        </div>
    {{/if}}

    {{#if lastMessage}}
        <div class="chats-card__info">
            <div class="chats-card__title">
                <h2>{{ title }}</h2>
            </div>
            <h3 class="chats-card__name">{{ lastMessage.user.firstName }}</h3>
            <h4 class="chats-card__message">{{ lastMessage.content }}</h4>
        </div>
        
        <div class="chats-card__additional">
            <time 
                class="chats-card__time" 
                datetime={{ lastMessageTime }}
            >
                {{ lastMessageTime }}
            </time>
            {{#if unreadCount}}
                <div class="chats-card__unread">
                    <span>{{ unreadCount }}</span>
                </div>
            {{/if}}
        </div>
    {{else}}
        <div class="chats-card__title">
            <h2>{{ title }}</h2>
        </div>
    {{/if}}
</li>
