<li class="chats-card">
    <div class="chats-card__image">
        <img 
            src="{{ avatar }}" 
            alt="Chat card image"
            width="47px"
            height="47px"
        />
    </div>

    <div class="chats-card__info">
        <h2 class="chats-card__name">{{ name }}</h2>
        <h3 class="chats-card__message">{{ message }}</h3>
    </div>
    
    <div class="chats-card__additional">
        <time 
            class="chats-card__time" 
            datetime={{ time }}
        >
            {{ time }}
        </time>
        {{#if unread}}
            <div class="chats-card__unread">
                <span>{{ unread }}</span>
            </div>
        {{/if}}
    </div>
    
</li>
