<div class="field-auth">
    <label class="field-auth__label" for={{ name }}>
        {{ label }}
    </label>

    <input 
        class="field-auth__input" 
        type={{ type }} 
        id={{ name }} 
        placeholder="" 
        name={{ name }}
        ref="input"
    >
</div>
