<main class="chats">
    {{{ DialogCreateChat onSave=onSave onClose=closeDialog ref="createChat"}}}

    <aside class="chats__aside">
        {{{ 
            Link
                text="Profile"
                onClick=handleProfileClick
        }}}
        
        {{{ Search }}}

        {{{ 
            Button 
                primary="true"
                text="Create chat"
                type="button"
                onClick=openDialog
        }}}

        {{#if chats}}
            <nav>
                {{#ChatsList chats=chats handleChatClick=handleChatClick}}{{/ChatsList}}
            </nav>
        {{else}}
            <h2 class="chats__empty chats__dummy">No chats</h2>
        {{/if}}
    </aside>

    <section class="chats__main">
        <h1 class="chats__dummy">Choose a chat to send a message</h1>
    </section>
</main>
