<main class="profile">
    {{{ BackAside onClick=handleBackClick }}}

    <section class="profile-main">
        <form>
            {{{ Avatar img=user.avatar }}}

            {{{
                Field
                    name="oldPassword"
                    label="Old password"
                    type="password"
                    env="profile"
                    placeholder="Password"
                    ref="oldPassword"
                    validate=validate.oldPassword
            }}}
            {{{
                Field
                    name="newPassword"
                    label="New password"
                    type="password"
                    env="profile"
                    placeholder="Password"
                    ref="newPassword"
                    validate=validate.newPassword
            }}}
            {{{
                Field
                    name="repeatNewPassword"
                    label="Repeat new password"
                    type="password"
                    env="profile"
                    placeholder="Password"
                    ref="repeatNewPassword"
                    validate=validate.repeatNewPassword
            }}}
        </form>
    
        {{{ ErrorText error=error ref="errorText" type="form" }}}
        
        {{{ SuccessText success=success ref="successText" }}}

        {{{
            Button 
                primary="true"
                text="Save Changes"
                onClick=handleSaveChangesClick
        }}}
    </section>
</main>
