<main class="profile">
    {{{ BackAside onClick=handleBackClick }}}

    <section class="profile-main">
        <form>
            {{{ Avatar }}}

            {{{
                Field
                    name="oldPassword"
                    label="Old password"
                    type="password"
                    env="profile"
                    placeholder="Password"
                    ref="oldPassword"
                    validate=validate.oldPassword
            }}}
            {{{
                Field
                    name="newPassword"
                    label="New password"
                    type="password"
                    env="profile"
                    placeholder="Password"
                    ref="newPassword"
                    validate=validate.newPassword
            }}}
            {{{
                Field
                    name="repeatNewPassword"
                    label="Repeat new password"
                    type="password"
                    env="profile"
                    placeholder="Password"
                    ref="repeatNewPassword"
                    validate=validate.repeatNewPassword
            }}}
        </form>
        
        <div style="text-align: center; margin-bottom: 12px">
            {{{ ErrorText error=error ref="errorText" }}}
        </div>

        {{{
            Button 
                primary="true"
                text="Save Changes"
                onClick=handleSaveChangesClick
        }}}
    </section>
</main>
