<main class="profile">
    {{{ BackAside onClick=handleBackClick }}}

    <section class="profile-main">
        <form>
            {{{ Avatar }}}

            {{{
                Field
                    name="oldPassword"
                    label="Old password"
                    type="password"
                    env="profile"
                    placeholder="Password"
            }}}
            {{{
                Field
                    name="newPassword"
                    label="New password"
                    type="password"
                    env="profile"
                    placeholder="Password"
            }}}
            {{{
                Field
                    name="repeatNewPassword"
                    label="Repeat new password"
                    type="password"
                    env="profile"
                    placeholder="Password"
            }}}
        </form>
        

        {{{
            Button 
                primary="true"
                text="Save Changes"
        }}}
    </section>
</main>
